#root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 800px;
  /* UI Gradient */
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  height: auto;
  width: 700px;
  border: 3px solid rgb(61, 58, 58);
  border-radius: 3px;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;
  color: black;
  background-color: rgba(136, 132, 132, 0.801);
  height: 40px;
  width: auto;
  border-bottom: 2px solid rgb(61, 58, 58);
}

#credits {
  width: 70%;
  height: 25px;
  padding-left: 10px;
  text-align: left;
  font-size: 1.2rem;
}

#app-status {
  text-align: right;
  width: 30%;
  height: 25px;
  font-size: 1.2rem;
}

.app-on {
  color: rgb(95, 216, 95);
  font-size: 15px;
}

.app-off {
  color: rgb(240, 50, 50);
  font-size: 15px;
}

#app-status div {
  padding-right: 20px;
}

#drum-machine {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(185, 185, 185);
  width: 100%;
  height: auto; 
  border-radius: 3px;
}

#pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  width: 50%;
  height: auto;
}

.drum-pad {
  color: black;
  font-size: 2rem;
  border: 2px solid black;
  height: auto;
  width: auto;
  text-align: center;
  padding-top: 20%;
  background-color: rgba(245, 245, 220, 0.651);
  box-shadow: 3px 3px rgb(59, 56, 56);
  border-radius: 7px;
}

.drum-pad:active {
  background-color: rgba(255, 231, 93, 0.541);
  translate: 2px 2px;
}

.drum-pad:hover {
  cursor: pointer;
}

.active {
  background-color: rgba(255, 231, 93, 0.541);
  translate: 2px 2px;  
}

#controls-container {
  padding: 25px;
  width: 50%;
  height: auto;
}

#display-container {
  height: auto;
  padding: 10%;
  border: 3px solid rgb(116, 115, 115);
  background-color: rgb(145, 142, 142);
  border-radius: 4px;
  
}

#display {
  font-family: 'VT323', monospace, sans-serif;
  font-size: 30px;
  height: 40px;
  width: 80%;
  margin: auto;
  border: 3px solid rgb(61, 60, 60);
  border-radius: 4px;
}

.display-on{
background-color: rgb(127, 255, 155);
}

.display-off{
  background-color: rgb(28, 29, 28);
}

#controls {
  margin-top: 5px;
  font-weight: bold;
}
 
#power-control p, #volume-control p, #bank-control p {
  margin-top: 15px;
  margin-bottom: 2px;
}
.select{
  margin: auto;
  border: 2px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: rgb(95, 92, 92);
}
.inner {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  #display {
    font-size: 23px;
  }
  #credits {
    font-size: 1rem;
  }
}

@media screen and (max-width: 470px){
  #credits {
    font-size: 0.8rem;
  }
  #app-status {
    font-size: 0.9rem;
  }
  #drum-machine {
    
  }
  #pads {
    margin-top: 25px;
    width: 50%;
    height: 200px;
  }
  .drum-pad {
    font-size: 1.5rem;
  }
  #display {
    font-family: 'VT323', monospace, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 80%;
  }
  #power-control p, #volume-control p, #bank-control p {
    margin-top: 7px;
    margin-bottom: 2px;
    font-size: 12px;
  }
  .select{
    width: 50px;
    height: 15px;
  }
  .inner {
    width: 23px;
    height: 14px;
  }
  #slider {
    width: 90px;
  }

}
